<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
           <style>
		body {
			background-color: #1D4350;
		}
		form {
			background-color: #0A6A8B;
		button{
		    background-color:red:
		}
       </style>
</head>
<body>
    <h1>Login Page</h1>
    <pre>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username:</label> <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label> <input type="password" id="password" name="password" required><br>

      <button type="submit"><a href="{% url 'bank_app:get' %}">Submit</a></button>

    </form>
    </pre>
    <a href="{% url 'bank_app:register' %}" style="color:red;">Register</a>
</body>
</html>
